@import './mixins.scss';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.item {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  @include respond(phone) {
    gap: 1.2rem;
  }

  &__info {
    display: flex;
    gap: 1.5rem;

    & p {
      font-size: 2.2rem;
      margin-bottom: 2rem;

      @include respond(phone) {
        font-size: 1.8rem;
        margin-bottom: 1.2rem;
      }

      @include respond(phone-sm) {
        font-size: 1.5rem;
      }
    }

    &--img-box {
      min-width: 12em;
      max-width: 12rem;
      min-height: 15rem;
      max-height: 15rem;
      border: 3px solid var(--color-bg-card);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @include respond(phone) {
        min-width: 8em;
        max-width: 8rem;
        min-height: 10rem;
        max-height: 10rem;
        border: 2px solid var(--color-bg-card);
      }

      & img {
        width: 65%;
      }
    }

    &--quantity {
      display: flex;
      align-items: center;
      gap: 1rem;

      @include respond(phone) {
        gap: 2px;
      }

      & img {
        width: 5rem;
        height: 5rem;
        padding: 0.8rem;
        cursor: pointer;

        @include respond(phone) {
          width: 28px;
          height: 28px;
          padding: 5px;
        }

        &:hover {
          background-color: var(--color-bg-card);
        }
      }

      & input {
        width: 7rem;
        height: 4rem;
        outline: none;
        border: 2px solid var(--color-bg-card);
        font-size: 2rem;
        text-align: center;

        @include respond(phone) {
          width: 30px;
          font-size: 1.6rem;
          border: 1px solid var(--color-bg-card);
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    & img {
      width: 5rem;
      padding: 1rem;
      cursor: pointer;

      @include respond(phone) {
        width: 35px;
        height: 35px;
      }

      &:hover {
        background-color: var(--color-bg-card);
      }
    }
  }
}
