@import './mixins.scss';

.cart {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 60;
  }

  &__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 50rem;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    padding: 3rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      width: 42rem;
    }

    @include respond(phone-sm) {
      width: 100%;
      padding: 2.2rem;
    }

    & h2 {
      margin-bottom: 3rem;

      @include respond(phone) {
        font-size: 2.5rem;
      }
    }

    & .btn {
      align-self: end;
      margin-bottom: 2rem;
      padding: 1.5rem;
      width: 40%;
      font-size: 2.2rem;

      @include respond(tab-port) {
        font-size: 2.2rem;
      }

      @include respond(phone) {
        font-size: 2rem;
        width: 80%;
      }

      @include respond(phone) {
        font-size: 1.8rem;
        padding: 1rem;
        width: 55%;
      }
    }
  }

  &__subtotal {
    width: 100%;
    margin-bottom: 5rem;
    text-align: right;

    @include respond(phone) {
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      font-size: 2rem;
    }
  }
}

.cancel-icon {
  color: var(--color-text);
  font-size: 4rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;

  @include respond(phone) {
    font-size: 3.8rem;
    right: 2rem;
  }

  &:hover {
    color: var(--color-grey);
  }
}
