.cart {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 70rem;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    padding: 5rem 8rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    & h2 {
      font-size: 6rem;
    }

    & .btn {
      align-self: end;
    }
  }

  &__subtotal {
    width: 100%;
    text-align: right;
  }
}

.cancel-icon {
  color: var(--color-text);
  font-size: 5rem;
  position: absolute;
  top: 2rem;
  right: 5rem;
  cursor: pointer;

  &:hover {
    color: var(--color-grey);
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
