@import './mixins.scss';

.cart {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 60;
  }

  &__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 70rem;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    padding: 5rem 8rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
      width: 60rem;
    }

    @include respond(phone) {
      width: 42rem;
      padding: 3rem;
    }
    @include respond(phone-sm) {
      width: 100%;
      padding: 2.2rem;
    }

    & h2 {
      font-size: 6rem;
      margin-bottom: 4rem;

      @include respond(tab-port) {
        font-size: 4rem;
        width: 35rem;
      }

      @include respond(phone) {
        font-size: 2.8rem;
        width: 30rem;
      }

      @include respond(phone) {
        font-size: 2.5rem;
        width: 25rem;
      }
    }

    & .btn {
      align-self: end;

      @include respond(tab-port) {
        font-size: 2.2rem;
      }

      @include respond(phone) {
        font-size: 2rem;
        width: 80%;
      }

      @include respond(phone) {
        font-size: 1.8rem;
        padding: 1rem;
        width: 55%;
      }
    }
  }

  &__subtotal {
    width: 100%;
    margin-bottom: 5rem;
    text-align: right;

    @include respond(phone) {
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
}

.cancel-icon {
  color: var(--color-text);
  font-size: 5rem;
  position: absolute;
  top: 2rem;
  right: 5rem;
  cursor: pointer;

  @include respond(phone) {
    font-size: 3.8rem;
    right: 2rem;
  }

  &:hover {
    color: var(--color-grey);
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
