@import './mixins.scss';

.contact {
  height: calc(100vh - 10rem);
  padding: 5vh 20vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  @include respond(tab-land) {
    padding: 5vh 10vw;
  }
  @include respond(phone) {
    height: calc(100vh - 7rem);
  }

  @include respond(phone-sm) {
    height: calc(100vh - 5rem);
  }

  &__content {
    @include respond(phone) {
      max-height: 80%;
    }
  }

  & h2 {
    font-size: 4rem;
    margin-bottom: 2rem;

    @include respond(tab-land) {
      font-size: 3.5rem;
    }

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  & h3 {
    font-size: 3rem;
    margin-bottom: 2rem;

    @include respond(tab-land) {
      font-size: 2.5rem;
    }

    @include respond(phone) {
      font-size: 2.2rem;
    }
  }
  & p {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    max-width: 90rem;

    @include respond(tab-port) {
      font-size: 2.2rem;
    }
    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 5rem;
    & a {
      cursor: pointer;
    }

    & img {
      width: 60px;

      @include respond(tab-land) {
        width: 30px;
      }
    }
  }

  &__img {
    width: 55rem;
    max-width: 100%;
  }
}
