.contact {
  padding: 8rem 10rem 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;

  & h2 {
    font-size: 5rem;
  }

  & h3 {
    font-size: 3.5rem;
  }
  & p {
    font-size: 3rem;
    margin-bottom: 5rem;
    width: 110rem;
    text-align: center;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 10rem;

    & a {
      cursor: pointer;
    }

    &--github {
      width: 85px;
    }
  }

  &__img {
    width: 100rem;
  }
}
