@import './mixins.scss';

.contact {
  height: calc(100vh - 10rem);
  padding: 5vh 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  @include respond(phone) {
    height: calc(100vh - 7rem);
  }

  @include respond(phone-sm) {
    height: calc(100vh - 5rem);
  }

  & h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;

    @include respond(phone) {
      font-size: 2.2rem;
    }
  }

  & h3 {
    font-size: 2.2rem;
    margin-bottom: 1.2rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }
  & p {
    font-size: 1.8rem;
    margin-bottom: 5rem;
    max-width: 90rem;

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 5rem;

    & img {
      width: 50px;

      @include respond(tab-land) {
        width: 30px;
      }
    }
  }

  &__img {
    width: 55rem;
    max-width: 100%;
  }
}
