.header {
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  height: 12rem;
  border-bottom: 2px solid var(--color-bg-card);

  &__left {
    display: flex;
    align-items: center;
    gap: 2rem;
    letter-spacing: 1.1rem;
    cursor: pointer;

    & img {
      width: 8rem;
      height: 8rem;
    }
  }

  &__right {
    display: flex;
    gap: 5rem;
    align-items: center;

    &--search {
      height: 3.5rem;
      width: 18rem;
      font-size: 2.2rem;
      border: none;
      outline: none;
      border-bottom: 2px solid var(--color-text);
      transform: translateY(4px);
    }

    &--nav {
      display: flex;
      gap: 5rem;
      color: var(--color-white);
    }
  }
}

.cart-icon {
  cursor: pointer;
}

.red-dot {
  position: absolute;
  right: 10.5rem;
  top: 3.5rem;
  background-color: #ff613a;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
