@import './mixins.scss';

.container-slider {
  max-width: 100vw;
  height: calc(100vh - 12rem);
  margin: 0;
  position: relative;
  overflow: hidden;

  @include respond(phone) {
    height: calc(100vh - 7rem);
  }

  @include respond(phone-sm) {
    height: calc(100vh - 5rem);
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--active {
    opacity: 1;
  }

  &__info {
    position: absolute;
    bottom: 38vh;
    right: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8rem;

    @include respond(tab-land) {
      bottom: 40vh;
    }

    //  @include respond(tab-land) {
    //   top: 60vh;
    //   font-size: 3rem;
    // }

    @include respond(phone) {
      bottom: 25vh;
      right: 3rem;
    }

    &--text {
      color: var(--color-white);
      font-size: 15rem;
      text-align: right;
      max-width: 150rem;

      @include respond(tab-land) {
        font-size: 12rem;
        max-width: 80rem;
      }

      @include respond(phone) {
        font-size: 5rem;
        max-width: 40rem;
      }

      @include respond(phone-sm) {
        font-size: 3.5rem;
      }
    }

    &--cta {
      position: absolute;
      top: 60vh;
      right: 15rem;
      color: var(--color-white);
      border: 3px solid var(--color-white);
      background-color: transparent;
      font-size: 4rem;
      padding: 2rem 6rem;
      cursor: pointer;
      transition: 0.3s;

      @include respond(tab-land) {
        top: 60vh;
        font-size: 3rem;
      }

      @include respond(phone) {
        font-size: 2rem;
        padding: 1.5rem 3rem;
        top: 72vh;
        right: 3rem;
        border: 2px solid var(--color-white);
      }

      @include respond(phone-sm) {
        font-size: 1.8rem;
        padding: 1rem 2rem;
      }

      &:hover {
        background-color: var(--color-white);
        color: var(--color-text);
      }
    }
  }
}

.slide__btn {
  width: 8rem;
  height: 8rem;
  background: transparent;
  border: none;
  position: absolute;
  cursor: pointer;

  @include respond(phone) {
    display: none;
  }

  &--prev {
    top: 50%;
    left: 2rem;
    transform: translateY(-60%);
  }

  &--next {
    top: 50%;
    right: 2rem;
    transform: translateY(-60%);
  }
}

.container-dots {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
}

.slide__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
  background: rgb(75, 73, 73);
  cursor: pointer;

  @include respond(phone) {
    width: 8px;
    height: 8px;
  }

  &--active {
    background: rgb(208, 206, 206);
  }
}
