*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-bg-card: #e8e8e8;
  --color-grey: #959494;
  --color-text: #151515;
  --color-white: #fff;
  --padding-page: 0rem 15vw 15rem 15vw;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'poppin', sans-serif;
  color: var(--color-text);
  position: relative;
  word-wrap: break-word;
  overflow: overlay;
}

h1 {
  font-size: 8rem;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  margin-top: 10px;
}

h3 {
  font-size: 2.8rem;
  text-transform: uppercase;
}

h4 {
  font-size: 2.8rem;
}

p {
  font-size: 2.5rem;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.btn {
  color: var(--color-white);
  border: 3px solid var(--color-text);
  background-color: var(--color-text);
  font-size: 3rem;
  padding: 2rem 6rem;
  margin-top: 5rem;
  cursor: pointer;
  transition: 0.3s;
  width: 70%;

  &:hover {
    color: var(--color-text);
    background-color: var(--color-white);
  }
}
