*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-bg-card: #d3d1d1;
  --color-bg-header: #ccc;
  --color-text: #151515;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'poppin', sans-serif;
  color: var(--color-text);
  position: relative;
  word-wrap: break-word;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 8rem;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  margin-top: 10px;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 300;
}

p {
  font-size: 1.2rem;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.testa {
  position: absolute;
}

.test {
  color: purple;
  border: 3px solid var(--color-white);
  background-color: transparent;
  font-size: 4rem;
  padding: 2rem 6rem;
  cursor: pointer;
  // transition: 0.4s;

  &:hover {
    background-color: green;
    color: red;
  }
}
