@import './mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-bg-card: #e8e8e8;
  --color-grey: #959494;
  --color-text: #151515;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  //TODO
  // @include respond(phone) {
  //   font-size: 50%;
  // }

  @include respond(big-desktop) {
    font-size: 70%;
  }
}

body {
  font-family: 'poppin', sans-serif;
  color: var(--color-text);
  position: relative;
  word-wrap: break-word;
  overflow: overlay;
}

h1 {
  font-size: 6rem;
  letter-spacing: 1.1rem;
  text-transform: uppercase;

  @include respond(tab-land) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3rem;
  margin-top: 10px;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.5rem;
  @include respond(phone) {
    font-size: 2.2rem;
  }
}

p {
  font-size: 2.2rem;

  @include respond(phone) {
    font-size: 1.8rem;
  }
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.btn {
  color: var(--color-white);
  border: 3px solid var(--color-text);
  background-color: var(--color-text);
  font-size: 3rem;
  padding: 2rem 6rem;
  margin-top: 5rem;
  cursor: pointer;
  transition: 0.3s;
  width: 60%;

  &:hover {
    color: var(--color-text);
    background-color: var(--color-white);
  }
}

.loading {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
