*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-bg-card: #e8e8e8;
  --color-bg-header: #ccc;
  --color-text: #151515;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'poppin', sans-serif;
  color: var(--color-text);
  position: relative;
  word-wrap: break-word;
  overflow: overlay;
}

h1 {
  font-size: 8rem;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  margin-top: 10px;
  text-transform: uppercase;
}

h3 {
  font-size: 2.8rem;
  text-transform: uppercase;
}

h4 {
  font-size: 2.8rem;
}

p {
  font-size: 2.5rem;
}

a {
  color: var(--color-text);
  text-decoration: none;
}
