.category {
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  gap: 5rem;
  height: 10rem;
  align-items: center;
  opacity: 0.95;
}

.products {
  background-color: var(--color-white);
  padding: var(--padding-page);
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding-top: 15rem;
  }
}

.product-card {
  cursor: pointer;

  &__img-box {
    height: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-bg-card);
  }

  &__img {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }

  &__name {
    padding: 1.5rem 0;
  }
}
