.category {
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  gap: 5rem;
  height: 10rem;
  align-items: center;
  opacity: 0.9;
}

.products {
  background-color: var(--color-white);
  padding: 0rem 15vw 15rem 15vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding-top: 15rem;
  }
}

.product-card {
  &__img {
    background-color: var(--color-bg-card);
    height: 55rem;
    row-gap: 1rem;
  }

  &__name {
    padding: 2.5rem 0 1rem 0;
  }
}
