@import './mixins.scss';

.product-details {
  padding: 0rem 15vw 1rem 15vw;
  position: relative;

  & .btn {
    margin-bottom: 3rem;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }
}

.details-container {
  padding-top: 10rem;
  display: flex;
  gap: 10rem;
  justify-content: center;

  @include respond(tab-land) {
    gap: 3.5rem;
  }

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
  }
  @include respond(phone) {
    gap: 2rem;
  }
}

.details {
  &__img-box {
    height: 70rem;
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-bg-card);

    @include respond(tab-land) {
      height: 50rem;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    @include respond(phone) {
      height: 35rem;
    }

    @include respond(phone-sm) {
      height: 25rem;
    }
  }

  &__img {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }

  &__info {
    width: 85rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include respond(tab-land) {
      width: 95rem;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    & button {
      @include respond(tab-land) {
        margin-top: 2rem;
        font-size: 2.5rem;
        padding: 1rem;
      }
    }

    &--title {
      font-size: 4rem;
      font-weight: 400;

      @include respond(tab-land) {
        font-size: 3.5rem;
      }

      @include respond(phone) {
        font-size: 2.5rem;
      }

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    &--price {
      font-size: 5rem;

      @include respond(phone) {
        font-size: 3.5rem;
      }

      @include respond(phone) {
        font-size: 2.5rem;
      }
    }

    &--description {
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
    &--guarantee {
      display: flex;
      align-items: center;
      gap: 2rem;

      & img {
        @include respond(tab-land) {
          width: 3rem;
        }
      }
    }
  }
}
