@import './mixins.scss';

.product-details {
  padding: 15rem 18vw 15rem 18vw;
  position: relative;

  @include respond(tab-port) {
    padding: 15rem 10vw 10rem 10vw;
  }

  @include respond(phone) {
    padding: 10rem 15vw 10rem 15vw;
  }

  @include respond(phone-sm) {
    padding: 8rem 10vw 8rem 10vw;
  }
}

.details-container {
  display: flex;
  gap: 5rem;
  justify-content: center;

  @include respond(tab-land) {
    gap: 3.5rem;
  }

  @include respond(phone) {
    flex-direction: column;
    align-items: center;

    gap: 2rem;
  }
}

.details {
  &__img-box {
    height: 40rem;
    min-width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-bg-card);

    @include respond(tab-land) {
      height: 30rem;
    }

    @include respond(tab-port) {
      max-width: 250px;
      height: 300px;
    }

    @include respond(phone) {
      width: 100%;
      height: 35rem;
    }

    @include respond(phone-sm) {
      height: 25rem;
    }
  }

  &__img {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }

  &__info {
    width: 85rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    @include respond(tab-land) {
      width: 95rem;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    & button {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 1.5rem;
      width: 50%;
      font-size: 2.2rem;

      @include respond(tab-land) {
        font-size: 2rem;
        padding: 1rem;
      }
    }

    &--title {
      font-weight: 400;

      @include respond(phone) {
        font-size: 2.5rem;
      }

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    &--price {
      font-size: 4rem;

      @include respond(phone) {
        font-size: 3.5rem;
      }

      @include respond(phone) {
        font-size: 2.5rem;
      }
    }

    &--description {
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
    &--guarantee {
      display: flex;
      align-items: center;
      gap: 2rem;

      & img {
        width: 3rem;
      }
    }
  }
}
